---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <br>

  {% if page.comments %}
  • <a href="https://magi82.github.io{{ page.url }}#disqus_thread" data-disqus-identifier="some_identifier_for_thread">0 Comments</a>
  {% endif %}

  <br>

  <div>
    <ul class="tags post-tags cf">
      <li>Tagged:</li>
      {% for tag in page.tags %}
      <li><a href="/search/?tags={{ tag }}">{{ tag | downcase }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <br>

<!-- facebook config start -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.8&appId=589837524555230";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments" data-href="http://magi82.github.io{{ page.url }}" data-width="100%" data-numposts="5"></div>
<!-- facebook config end -->

{% include disqus.html disqus_identifier=page.disqus_identifier %}

</article>

<!-- responsive video js -->
<script src="/js/fluidvids.js"></script>
